*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;

    --azul:#0025db;
    --preto:#050b1d;
    --azul-padrao:#212830;
    --cinza:#a0abc9;
    --laranja:#fcaa23;
    --shadow:#a0abc944;

    --padding-mobile:0px 16px;
    --size-title: 44px;
    --size-p:15px;


    font-family: 'Questrial', sans-serif;
    
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 80px;
    padding: var(--padding-mobile);
    background-color: var(--azul-padrao);
    z-index: 9999;


    /*borda para marcação*/
    border-bottom: 1px solid ;

}

.container_header__navbar{
    display: none;
}

.container_header__navbar.ativo {
  display: block;
  position: absolute;   
  top: 0; 
  left: 0; 
  

}

.container_header__menu {
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    
}

.container_header__menu > li > a{
    display: block;
    background-color: red;
    /*cor para teste*/


    padding: 012px 20px ;
    color: var(--preto);
    font-size: 22px;
    font-size: 500;
    cursor: pointer;
    
}

.container_header__menu > li > a:hover,.container_header__menu > li > a .ativo{
    color: var(--azul);
}

.close_dropMenu{
    display: block;
    min-width: 100%;
    padding: 20px ;
    background-color: #ffffff0c;
    
}

@media (min-width:768px) {

    .close_dropMenu{
        display: none;
    }
    .container_header__DropMenu{

        display: none;
    }

    .container_header__navbar{
        display: flex;

    }

    .container_header__menu {
        flex-direction: row;
        height: auto;
        width: auto;
    }
    .container_header__menu > li > a{
        padding: 0px 8px;
        font-size: 20px;
        font-weight: 500;

    }


    
}

/*Estilo do Container de inicial da homa*/

.container_principal{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.container_principal__content{

    padding: 0px 30px;
    margin-top: -15px;
   
}

.container_principal__content h5{

    font-size: 18px;
    color: var(--azul);
    font-weight: 500;
    text-align: left;
    margin-bottom: 12px;
}

.container_principal__content > h2{

    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
}

.container_principal__content > button{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background-color: #fcaa23;
    margin-top: 12px;
    
}
.container_principal__content > button> a{
    color:#fff;

}

.container_principal__img{


    padding-top: 60px;
}

.container_principal__img > img{
    
    width: 180px;
    
    
}

.container_principal__img > img:first-child{
    
    min-width: 280px;
    
}
.container_principal__img > img:last-child{
    position: absolute;
    top: 99px;
    left: 0;
    right: 0;
    
}


/*Estilo do Container de Apresentação dos Serviços*/


.container_servicos{
    padding: 60px 30px;

}

.container_servicos > h2{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin-bottom: 60px;
}

.container_servicos > h5{
    font-size: 18px;
    color: var(--azul);
    font-weight: 500;
    text-align: left;
    margin-bottom: 12px;
}

.container_servicos__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.container_servicos__list > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 360px;
    width: 260px;
    border-radius: 20px;
    padding: 0px 60px;
    text-align: left;
    box-shadow: 0.5px 5px 40px #a0abc944;
}

.container_servicos__list > li:hover {

    
    box-shadow: 1px 1px 60px #a0abc971;
}

.container_servicos__list > li > h4 {
    font-size: 24px;
    color: var(--preto);
}

.container_servicos__list > li > p {
    font-size: 15px;
    color: var(--cinza);
}

/*Estilo do desktop*/

@media (min-width:768px) {

    .container_servicos{
        padding: 60px 55px;
    
    }
    .container_servicos__list{
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        gap: 36px;
    }
    .container_servicos__list > li {
        
        height: 300px;
        width: 280px;
        box-shadow: 0.5px 1px 20px #e6e6f79d;
        
    }
    
}

/*Estilo do Container de Apresentação dos Serviços*/




.container_marketing{

}







